<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="csci435.csci435_odbr"
    >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER"
        tools:ignore="ProtectedPermissions" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/bug_report_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <uses-library android:name="android.test.runner"/>
        <activity
            android:name=".SplashScreen"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LaunchAppActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".RecordActivity"
            android:label="@string/title_activity_end_record_state" />
        <activity
            android:name=".ReviewActivity"
            android:label="@string/title_activity_submit_report" />

        <service android:name="csci435.csci435_odbr.RecordFloatingWidget"/>
        <service android:name="csci435.csci435_odbr.ReplayService"/>
        <service android:name="csci435.csci435_odbr.GetEventIntentService"/>
        <service android:name=".AccessService"
            android:label="@string/access_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/cust_access_service" />
        </service>
    </application>

</manifest>
