<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="csci435.csci435_odbr"
    >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".SplashScreen"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LaunchAppActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".RecordActivity"
            android:label="@string/title_activity_end_record_state" />
        <activity
            android:name=".ReviewActivity"
            android:label="@string/title_activity_submit_report" />

        <uses-permission android:name="android.permission.GET_TASKS"/>
    </application>

</manifest>
